version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: deliorder-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    env_file:
      - .env

  redis:
    image: redis:latest
    container_name: deliorder-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 5s
      retries: 10

volumes:
  mysql-data:
  redis-data:
