version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: deliorder-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    env_file:
      - .env

volumes:
  mysql-data:
