spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}

# s3
  cloud:
    aws:
      credentials:
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
      region: ap-northeast-2
      s3:
        bucket: deliorder-s3
        presigned-url-expiration: 10

  autoconfigure:
    exclude:
      - io.awspring.cloud.autoconfigure.s3.S3AutoConfiguration

  data:
    redis:
      host: localhost
      port: 6379
      password:

# JWT
jwt:
  secret: ${JWT_SECRET_KEY}
